body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #001;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* ul li:nth-child(2) a {
  background-color: #ffffff55;
  border-radius: 8px;
} */
ul li:last-child a {
  position: absolute;
  background-color: #a00;
  border-radius: 3px;
  bottom: 0;
  width: 100%;
}

ul li:last-child a:hover {
  background-color: #f00;
}

